<form>{{#if components}}{{#each components}}
    <div id="{{attributes.id}}" {{#if components}}class="{{cssClassName}}"{{else}}class="form-group"{{/if}}>
    {{#if components}}
    {{#each components}}
        {{#ifEquals type "label"}}
        <label id="{{attributes.id}}" class="{{cssClass}}">{{content}}</label>
        {{/ifEquals}}
        {{#ifEquals type "input"}}
        <input id="{{attributes.id}}" class="{{cssClass}}" {{#if attributes.placeholder}}placeholder="{{attributes.placeholder}}"{{/if}} {{#if attributes.entityDetails.entityName}}[(ngModel)]="{{attributes.entityDetails.entityName}}.{{attributes.entityDetails.fields.name}}" [ngModelOptions]="{standalone: true}"{{/if}} type="text">
        {{/ifEquals}}
        {{#ifEquals type "checkbox"}}
        <input type="{{type}}" id="{{attributes.id}}" class="{{cssClass}}">
        {{/ifEquals}}
        {{#ifEquals type "textarea"}}
        <textarea type="text" id="{{attributes.id}}" class="{{cssClass}}" {{#if attributes.entityDetails.entityName}}[(ngModel)]="{{attributes.entityDetails.entityName}}.{{attributes.entityDetails.fields.name}}" [ngModelOptions]="{standalone: true}"{{/if}}></textarea>
        {{/ifEquals}}
        {{#if components}}
        {{#each components}}
        {{#ifEquals type "dynamicdropdown-type"}}
        <ng-select class="{{cssClassName}}" [searchable]="true" [virtualScroll]="true" class="{{attributes.id}}"
        name="{{name}}" bindLabel="{{attributes.entityDetails.mappedEntityFieldName}}" bindValue="{{attributes.entityDetails.mappedEntityFieldName}}" [items]="{{attributes.entityDetails.mappedEntityName}}itemArray" {{#if attributes.entityDetails.entityName}}[(ngModel)]="{{attributes.entityDetails.entityName}}.{{attributes.entityDetails.fields.name}}"
         [ngModelOptions]="{standalone: true}"{{/if}} {{#if flowDetails.verb}}({{flowDetails.verb}})="{{attributes.entityDetails.mappedEntityName}}{{flowDetails.flowName}}()"{{/if}}></ng-select>
        {{/ifEquals}}
        {{/each}}
        {{/if}}
        {{#ifEquals type "button"}}
        <button {{#if attributes.type}}type="{{attributes.type}}"{{/if}} id="{{attributes.id}}" {{#if flowDetails.verb}}({{flowDetails.verb}})="{{flowDetails.flowName}}()"{{/if}} class="{{cssClass}}">{{content}}</button>&nbsp;&nbsp;
        {{/ifEquals}}
    {{/each}}
    {{else}}
        {{#ifEquals type "label"}}
        <label id="{{attributes.id}}" class="{{cssClassName}}">{{content}}</label>
        {{/ifEquals}}
        {{#ifEquals type "input"}}
        <input id="{{attributes.id}}" class="{{cssClassName}}" {{#if attributes.placeholder}}placeholder="{{attributes.placeholder}}"{{/if}}{{#if attributes.entityDetails.entityName}}[(ngModel)]="{{attributes.entityDetails.entityName}}.{{attributes.entityDetails.fields.name}}" [ngModelOptions]="{standalone: true}"{{/if}} type="text">
        {{/ifEquals}}
        {{#ifEquals type "checkbox"}}
        <input type="{{type}}" id="{{attributes.id}}" class="{{cssClassName}}">
        {{/ifEquals}}
        {{#ifEquals type "textarea"}}
        <textarea type="text" id="{{attributes.id}}" class="{{cssClassName}}" {{#if attributes.entityDetails.entityName}}[(ngModel)]="{{attributes.entityDetails.entityName}}.{{attributes.entityDetails.fields.name}}" [ngModelOptions]="{standalone: true}"{{/if}}></textarea>
        {{/ifEquals}}
        {{#ifEquals type "dynamicdropdown-type"}}
        <ng-select class="{{cssClassName}}" [searchable]="true" [virtualScroll]="true" class="{{attributes.id}}"
        name="{{name}}" bindLabel="{{attributes.entityDetails.mappedEntityFieldName}}" bindValue="{{attributes.entityDetails.mappedEntityFieldName}}" [items]="{{attributes.entityDetails.mappedEntityName}}itemArray" {{#if attributes.entityDetails.entityName}}[(ngModel)]="{{attributes.entityDetails.entityName}}.{{attributes.entityDetails.fields.name}}"
         [ngModelOptions]="{standalone: true}"{{/if}} {{#if flowDetails.verb}}({{flowDetails.verb}})="{{attributes.entityDetails.mappedEntityName}}{{flowDetails.flowName}}()"{{/if}}></ng-select>
        {{/ifEquals}}
        {{#ifEquals type "button"}}
        <button {{#if attributes.type}}type="{{attributes.type}}"{{/if}} id="{{attributes.id}}" {{#if flowDetails.verb}}({{flowDetails.verb}})="{{flowDetails.flowName}}()"{{/if}} class="{{cssClassName}}">{{content}}</button>&nbsp;&nbsp;
        {{/ifEquals}}
    {{/if}}
    </div>{{/each}}
    {{else}}
    <div id="{{attributes.id}}" class="{{cssClassName}}"></div>
        {{#ifEquals type "label"}}
        <label id="{{attributes.id}}" class="{{cssClass}}">{{content}}</label>
        {{/ifEquals}}
        {{#ifEquals type "input"}}
        <input id="{{attributes.id}}" class="{{cssClass}}" {{#if attributes.placeholder}}placeholder="{{attributes.placeholder}}"{{/if}} {{#if attributes.entityDetails.entityName}}[(ngModel)]="{{attributes.entityDetails.entityName}}.{{attributes.entityDetails.fields.name}}" [ngModelOptions]="{standalone: true}"{{/if}} type="text">
        {{/ifEquals}}
        {{#ifEquals type "checkbox"}}
        <input type="{{type}}" id="{{attributes.id}}" class="{{cssClass}}">
        {{/ifEquals}}
        {{#ifEquals type "textarea"}}
        <textarea type="text" id="{{attributes.id}}" class="{{cssClass}}" {{#if attributes.entityDetails.entityName}}[(ngModel)]="{{attributes.entityDetails.entityName}}.{{attributes.entityDetails.fields.name}}" [ngModelOptions]="{standalone: true}"{{/if}}></textarea>
        {{/ifEquals}}
        {{#ifEquals type "dynamicdropdown-type"}}
        <ng-select class="{{cssClassName}}" [searchable]="true" [virtualScroll]="true" class="{{attributes.id}}"
        name="{{name}}" bindLabel="{{attributes.entityDetails.mappedEntityFieldName}}" bindValue="{{attributes.entityDetails.mappedEntityFieldName}}" [items]="{{attributes.entityDetails.mappedEntityName}}itemArray" {{#if attributes.entityDetails.entityName}}[(ngModel)]="{{attributes.entityDetails.entityName}}.{{attributes.entityDetails.fields.name}}"
         [ngModelOptions]="{standalone: true}"{{/if}} {{#if flowDetails.verb}}({{flowDetails.verb}})="{{attributes.entityDetails.mappedEntityName}}{{flowDetails.flowName}}()"{{/if}}></ng-select>
        {{/ifEquals}}
        {{#ifEquals type "button"}}
        <button {{#if attributes.type}}type="{{attributes.type}}"{{/if}} id="{{attributes.id}}" {{#if flowDetails.verb}}({{flowDetails.verb}})="{{flowDetails.flowName}}()"{{/if}} class="{{cssClass}}">{{content}}</button>&nbsp;&nbsp;
        {{/ifEquals}}
    </div>{{/if}}
</form>