<div id="{{attributes.id}}" class="{{cssClassName}}">
{{#if components}}
{{#each components}}
    {{#ifEquals ../type "label"}}
    <label id="{{attributes.id}}">{{content}}</label>
    {{/ifEquals}}
{{/each}}
{{else}}
    {{#ifEquals type "label"}}
    <label id="{{attributes.id}}">{{content}}</label>
    {{/ifEquals}}
{{/if}}
</div>