 <div>
 {{#ifEquals components.type "checkbox"}}
     <input type="{{components.type}}" id="{{components.attributes.id}}" class="{{components.cssClassName}}"  {{#if components.attributes.entityDetails.entityName}}[(ngModel)]="{{components.attributes.entityDetails.entityName}}.{{components.attributes.entityDetails.fields.name}}" [ngModelOptions]="{standalone: true}"{{/if}}>
 {{/ifEquals}}
 </div>