import React from 'react';
import "./{{screenName}}.scss";


class {{className}} extends React.Component<{}, any> {
    render(){
        return(
            <>
            <h2 className="screen-align">{{screenName}}</h2>
            {{{data}}}
            </>
        );
    };
};

export default {{className}};