<form>
    {{#each components}}
    <div id="{{attributes.id}}" class="{{cssClassName}}">
    {{#each components}}
        {{#ifEquals type "label"}}
        <label id="{{attributes.id}}" class="{{cssClass}}">{{content}}</label>
        {{/ifEquals}}
        {{#ifEquals type "input"}}
        <input id="{{attributes.id}}" class="{{cssClass}}" [(ngModel)]="{{attributes.entityDetails.entityName}}.{{attributes.entityDetails.fields.name}}" type="text">
        {{/ifEquals}}
        {{#ifEquals type "checkbox"}}
        <input type="{{type}}" id="{{attributes.id}}" class="{{cssClass}}">
        {{/ifEquals}}
        {{#ifEquals type "textarea"}}
        <textarea type="text" id="{{attributes.id}}" class="{{cssClass}}"></textarea>
        {{/ifEquals}}
        {{#ifEquals type "button"}}
        <button type="{{attributes.type}}" id="{{attributes.id}}" class="{{cssClass}}">{{content}}</button>
        {{/ifEquals}}
    {{/each}}
    </div>
    
    {{/each}}
    {{!-- <div class="form-group">
        <label>{{inputname1}}</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>{{inputname2}}</label>
        <input type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">{{buttonName}}</button> --}}
</form>